@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/Poppins-Bold.ttf');
}

:root{
    --theme-color-1: #012243;
    --theme-color-2: #f84408;
    --theme-color-3: #ffc107;
    --theme-color-4: #072542;

    --body-bg: #ffffff;
    --font-color: #000000;
    --heading-color: #072542;
    --font-white: #ffffff;
}

body{
    background-color: var(--body-bg);
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 25px;
    font-family: 'Poppins-Regular';
    font-weight: normal;
    color: var(--font-color);
}

h1, h2, h3{
    color: var(--heading-color);
    margin-bottom: 0;
    font-family: 'Poppins-Bold';
    font-weight: normal;
}

h4, h5{
    color: var(--heading-color);
    margin-bottom: 0;
    font-family: 'Poppins-SemiBold';
    font-weight: normal;
}

p{
    margin-bottom: 0;
}

a, a:hover, a:active, a:focus{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.theme-btn{
    border-radius: 30px;
    height: 48px;
    text-align: center;
    border: none;
    max-width: max-content;
    width: auto;
    padding:10px 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins-Regular';
    font-weight: normal;
    transition: ease-in-out 0.3s;
    font-size: 14px;
}

.btn-main{
    color: #fff;
    background-color: var(--theme-color-2);
    transition: ease-in-out 0.3s;
    border: 1px solid var(--theme-color-2);
}

.btn-main:hover{
    background-position: left bottom;
    color: #fff;
    background-color: #a70921;
    border: 1px solid #a70921;
    transition: ease-in-out 0.3s;
}

.btn-secondary{
    color: #fff;
    background-color: var(--theme-color-3);
    transition: ease-in-out 0.3s;
}

.btn-secondary:hover{
    color: #fff;
    background-color: #0e6a79;
    transition: ease-in-out 0.3s;
}

.btn-border{
    border: 1px solid var(--theme-color-1);
    background-color: transparent;
    color: var(--theme-color-1);
    transition: ease-in-out 0.3s;
}

.btn-border:hover{
    border-color: var(--theme-color-1);
    background-color: var(--theme-color-1);
    color: #fff;
    transition: ease-in-out 0.3s;
}

.btn-border-white{
    border: 1px solid var(--font-white);
    background-color: transparent;
    color: var(--font-white);
    transition: ease-in-out 0.3s;
}

.btn-border-white:hover{
    border-color: var(--theme-color-2);
    background-color: transparent;
    color: var(--theme-color-2);
    transition: ease-in-out 0.3s;
}

.policy-main-heading{
    font-size: 20px;
    margin-bottom: 20px;
}

.policy-description{
    margin-bottom: 20px;
}

.page-full-coming{
    width: 100%;
    height: 100vh;
    position: relative;
    display: inline-block;
    background-position: center;
    background-size: cover !important;
    background-repeat: no-repeat;
    /* background-image: url('../images/coming-soon-bg.jpg'); */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/coming-soon.jpg');
}
  
.page-coming-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
  
.page-coming-inner h2{
    font-size: 40px;
    margin-bottom: 20px;
    color: var(--font-white);
}
  
.page-coming-inner p{
    margin-bottom: 20px;
    color: var(--font-white);
}
  
.soon-subscribe{
    width: 100%;
}
  
.soon-form-wrapper{
    position: relative;
    width: 100%;
}
  
.soon-input{
    width: 100%;
    height: 55px;
    border-radius: 35px;
    padding: 10px 15px;
    display: inline-block;
    border: none;
}
  
.soon-submit{
    background-color: var(--theme-color-2);
    border-radius: 35px;
    text-align: center;
    color: #fff;
    padding: 10px 10px;
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    width: 135px;
}
  
.soon-counter-list{
    display: flex;
}
  
.soon-counter-list > div{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 30px 8px 0px 8px;
    background-color: rgb(255 255 255 / 20%);
    flex-direction: column;
    color: var(--theme-color-3);
    font-family: 'Poppins-Bold';
    font-weight: normal;
    font-size: 32px;
}
  
.soon-counter-list > div span{
    font-family: 'Poppins-Medium';
    font-weight: normal;
    /* margin: 10px 0px; */
    color: var(--font-white);
    font-size: 14px;
}
  
.coming-soon .footer-heading {
    font-size: 20px;
    line-height: 24px;
    color: #fff;
}
  
.coming-soon .footer-social-list {
    margin-top: 20px;
}
  
.coming-soon .footer-social-list li {
    display: inline-block;
    margin-right: 20px;
}
  
.coming-soon .footer-social-list li a {
    display: inline-block;
    color: #fff;
}

.error-page{
    height: calc(100vh - 1px);
    display: inline-block;
    width: 100%;
    background-image: url('../images/error-page.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.error-page::before{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
}

.error-page-image{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-page-content{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.error-page-content h1{
  font-size: 120px;
  color: var(--font-white);
  font-family: 'Poppins-Medium';
}

.error-page-content h3{
  font-size: 32px;
  color: var(--font-white);
  text-transform: capitalize;
  font-family: 'Poppins-Medium';
}

.error-page-content p{
  font-size: 16px;
  margin: 20px 0px;
  color: var(--font-white);
}

.faq .accordion-item{
    margin-bottom: 20px;
    border: transparent;
}

.faq .accordion-button{
    border: transparent;
}

.faq .accordion-button{
    border-radius: 10px !important;
    background-color: var(--font-white);
    font-family: 'Poppins-Medium';
    font-size: 14px;
    height: 65px;
}

.faq .accordion-button:not(.collapsed){
    background-color: var(--font-white);
    box-shadow: none;
}

.faq .accordion-button span{
    margin-right: 10px;
}

.faq .accordion-body p span{
    margin-right: 10px;
}

.error-msg-contact{
    display: none;
    transition: ease-out 0.3s;
    opacity: 0;
}

.error-msg-contact-display{
    display: block;
    transition: ease-out 0.3s;
    opacity: 1;
    position: absolute;
    bottom: -8px;
    font-size: 10px;
    left:0;
    margin: 0;
    line-height: 0;
    color: red;
}

.success-msg-contact{
    display: none;
    transition: ease-out 0.3s;
}

.success-msg-contact-display{
    position: absolute;
    display: block;
    transition: ease-out 0.3s;
    padding: 40px 30px;
    background: var(--theme-color-1);
    font-size: 14px;
    /* border-radius: 5px; */
    z-index: 10;
    bottom: 75px;
    left: 50%;
    color: #fff;
    width: 265px;
    border-radius: 30px;
    top: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
}

.success-msg-contact-display p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
  
.check-success-icon{
    padding: 10px 13px;
    color: #fff;
    background-color: var(--theme-color-3);
    border-radius: 50%;    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    margin: 0;
    margin-bottom: 20px;
}

.success-msg p, .success-msg-display p{
    margin-bottom: 0;
}

.error-msg p, .error-msg-display p{
    margin-bottom: 0;
}

#backTop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--theme-color-3);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 18px;
    transition: ease-in 0.3s;
}
  
#backTop:hover {
    background-color: #006278;
    transition: ease-in 0.3s;
}

#loading {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	/* opacity: 0.7; */
	background-color: #fff;
	z-index: 1001;
	text-align: center;
}

#loading-image {
	position: absolute;
	top: 40%;
	z-index: 999;
	transform: translate(-50%);
	background-color: #fff;
	display: inline-block;
}


/* the slides */
.slick-slide {
    margin: 0 20px;
}

/* the parent */
.slick-list {
    margin: 0 -20px;
}

.section{
    width: 100%;
    position: relative;
    padding: 4.5rem 0;
}

.top-header {
    background-color: #ffffff;
    /* padding: 11px 0px; */
    text-align: center;
}
  
.header {
    padding: 5px 0px;
    background: #fff;
    color: #f1f1f1;
    box-shadow: -1px -16px 55px 17px rgba(0,0,0,0.75);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
  
.sticky + .main-content-wrapper {
    padding-top: 123px;
}

.sticky.header:before{
    height: 83px;
}

.navbar-brand img{
    width: 180px;
}

.top-header{
    width: 100%;
    position: relative;
    display: flex;
    height: 60px;
    align-items: center;
    background-color: var(--theme-color-1);
}

.top-header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.top-header-left p{
    color: var(--font-white);
}

.top-header-right{
    display: flex;
    align-items: center;
}

.thr-contact ul li{
    display: inline-block;
    margin-right: 15px;
}

.thr-contact ul li a{
    color: var(--font-white);
}

.thr-contact ul li a i{
    margin-right: 10px;
}

.thr-siginup ul li{
    display: inline-block;
}

.thr-siginup ul li:first-child{
    margin-right: 5px;
}

.thr-contact{
    margin-right: 1rem;
}

.brand-text{
    font-size: 28px;
    color: var(--theme-color-2);
    text-transform: uppercase;
}

.navbar-brand{
    display: flex;
    align-items: center;
}

.header-search{
    position: relative;
    display: inline-block;
}

.header-search-input{
    position: relative;
    padding: 10px 48px 10px 15px;
    height: 48px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    border: 1px solid var(--theme-color-3);
    width: 200px;
}

.header-search-input::placeholder{
    color: var(--theme-color-3);
}

.header-search-btn{
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-color-3);
    border-radius: 30px;
    padding: 5px;
    border:1px solid var(--theme-color-3);
    color: var(--font-white);
    position: absolute;
    top: 0;
    right: 0;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 0.5rem 1rem;   
    display: flex;
    align-items: center;
    color: var(--font-color);
}

.nav-item .dropdown-toggle::after{
    border: none;
    content: '\f067';
    font-family: 'Fontawesome';
    position: relative;
    display: inline-block;
    font-size: 8px;
    margin-left: 8px;
}

.navbar .nav-item .dropdown-menu{
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(1, 29, 38, 0.07);
    border-radius: 10px;
    border-color: #f0f0f0;
}

.navbar .dropdown-item{
    padding: 10px 15px;
    font-size: 14px;
    color: var(--font-color);
}

.dropdown-item:focus, .dropdown-item:hover{
    background-color: var(--theme-color-6);
}

.dropdown-item.active, .dropdown-item:active{
    background-color: var(--theme-color-3);
}

.top-header-contact:hover{
    color: var(--font-white);
}

.top-header-btn:hover{
    color: var(--font-white);
}

@media (min-width: 768px) {
    .animate {
      animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
}
  
@keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0rem);
      opacity: 1;
    }
  
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
}
  
@-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
  
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
  
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
}
  
.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

/* home */
.main-content-wrapper{
    width: 100%;
    position: relative;
    display: inline-block;
}

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
}
@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-100px); }
    100% { transform: translateY(0); }
}

.main-banner-container{
    width: 100%;
    position: relative;
    display: inline-block;
    background-image: url('../images/banner2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    overflow: hidden;
}

.main-banner-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.main-banner-wrapper h1{
    font-size: 44px;
    color: var(--font-white);
    margin-bottom: 20px;
    font-family: 'Poppins-SemiBold';
}

.main-banner-wrapper h4{
    font-size: 16px;
    margin-bottom: 25px;
    color: var(--font-white);
    line-height: 25px;
    font-family: 'Poppins-Medium';
}

.main-banner-btns{
    display: flex;
    width: 100%;
}

.main-banner-btns a:first-child{
    margin-right: 15px;
}

.main-banner-image{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: 65vh;
    position: relative;
}

.main-banner-image img{
    width: 100%;
    transform: scaleX(-100%) translateX(-20%);
    
}

.fun-factor-container{
    width: 100%;
    position: relative;
    display: inline-block;
}

.fun-factor-card{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.fun-factor-wrapper{
    background-color: var(--theme-color-3);
    padding: 20px;
    border-radius: 30px;
    width: 100%;
    position: relative;
    margin-top: -5em;
}

.fun-factor-icon{
    width: 65px;
    min-width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 15px;
    background-color: var(--font-white);
    margin-right: 15px;
}

.fun-factor-info h3{
    font-size: 32px;
    margin-bottom: 5px;
    color: var(--theme-color-4);
}

.fun-factor-info p{
    margin-bottom: 0px;
    color: var(--theme-color-4);
}

.side-content-wrapper{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}

.sc-small-heading{
    font-size: 14px;
    color: var(--theme-color-2);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.small-header-lines-after{
    width: 25px;
    height: 2px;
    position: relative;
    display: flex;
    background-color: var(--theme-color-2);
    margin-left: 10px;
}

.small-header-lines-after::after{
    content: '';
    width: 2px;
    height: 2px;
    margin-left: 4px;
    /* border-radius: 50%; */
    position: absolute;
    display: inline-block;
    left: 25px;
    background-color: var(--theme-color-2);
}

.small-header-lines-before{
    width: 25px;
    height: 2px;
    position: relative;
    display: flex;
    background-color: var(--theme-color-2);
    margin-right: 10px;
}

.small-header-lines-before::before{
    content: '';
    width: 2px;
    height: 2px;
    margin-right: 4px;
    /* border-radius: 50%; */
    position: absolute;
    display: inline-block;
    right: 25px;
    background-color: var(--theme-color-2);
}

.sc-main-heading{
    font-size: 32px;
    font-family: 'Poppins-SemiBold';
    margin-bottom: 20px;
}

.side-content-list{
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 30px 0px;
}

.side-content-list li{
    margin-bottom: 25px;
}

.side-content-list li:last-child{
    margin-bottom: 0px;
}

.side-content-list-wrapper{
    display: flex;
    align-items: flex-start;
}

.scl-icon{
    width: 55px;
    min-width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 12px;
    background-color: var(--theme-color-3);
    margin-right: 20px;
}

.scl-info h3{
    font-size: 20px;
    font-family: 'Poppins-Medium';
    margin-bottom: 15px;
}

.section-heading-wrwpper{
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
    margin-bottom: 3rem;
}

.popular-course-card{
    border-radius: 10px;
    background: var(--font-white);
    box-shadow: 0px 10px 15px 1px rgba(0, 0, 0, 0.15);
    width: 100%;
    position: relative;
    display: flex;
    padding: 25px;
}

.filter-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.filter-btns .theme-btn{
    background-color: transparent;
    color: inherit;
}

.filter-btns .theme-btn.active{
    background-color: var(--theme-color-2);
    color: var(--font-white);
}

.popular-course-image{
    min-width: 180px;
    width: 180px;
    height: 190px;
    display: inline-block;
    position: relative;
    margin-right: 15px;
}

.popular-course-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popular-course-top{
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.pcourse-category-heading{
    font-size: 14px;
    font-family: 'Poppins-Medium';
    color: var(--theme-color-2);
    margin-bottom: 10px;
}

.popular-course-card:hover .pcourse-heading{
    color: var(--theme-color-3);
    transition: ease-in 0.3s;
}

.pcourse-heading{
    font-size: 20px;
    font-family: 'Poppins-Medium';
    color: var(--heading-color);
    margin-bottom: 0px;
    transition: ease-in 0.3s;
}

.pcourse-mentor{
    display: flex;
    align-items: center;
}

.pcourse-mentor img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.popular-course-middle{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    align-items: center;
}

.pcourse-star i{
    margin-right: 5px;
    color: var(--theme-color-2);
}

.pcourse-price h3{
    font-size: 18px;
    color: var(--theme-color-2);
}

.pcourse-star{
    display: flex;
    align-items: center;
}

.popular-course-bottom{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
}

.popular-course-bottom p{
    font-size: 12px;
}

.popular-course-bottom p i{
    margin-right: 5px;
}

.pcourse-mentor p{
    font-family: 'Poppins-Medium';
}

.why-choose-list-inner{
    display: flex;
    align-items: center;
}

.why-choose-list{
    width: 100%;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.why-choose-list ul{
    width: 50%;
    float: left;
}

.wcli-icon{
    width: 30px;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: var(--font-white);
}

.why-choose-list-inner p{
    font-family: 'Poppins-Medium';
}

.why-choose-list .left .why-choose-list-inner .wcli-icon{
    background-color: var(--theme-color-3);
}

.why-choose-list .right .why-choose-list-inner .wcli-icon{
    background-color: var(--theme-color-2);
}

.why-choose-list ul li{
    margin-bottom: 15px;
}

.events-card-wrapper{
    border-radius: 10px;
    background: var(--font-white);
    box-shadow: 0px 10px 15px 1px rgba(0, 0, 0, 0.15);
    width: 100%;
    position: relative;
    display: flex;
    padding: 25px;
}

.event-card-image{
    min-width: 180px;
    width: 180px;
    height: 190px;
    display: inline-block;
    position: relative;
    margin-right: 15px;
}

.event-card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-card-info-top{
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.event-card-heading{
    font-size: 20px;
    font-family: 'Poppins-Medium';
    color: var(--heading-color);
    margin-bottom: 0px;
    transition: ease-in 0.3s;
}

.events-card-wrapper:hover .event-card-heading{
    color: var(--theme-color-3);
    transition: ease-in 0.3s;
}

.eventdate{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}

.eventdate p i{
    color: var(--theme-color-3);
    margin-right: 10px;
}

.eventvenue p i{
    color: var(--theme-color-3);
    margin-right: 10px;
}

.event-join-btn{
    padding: 10px 15px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--theme-color-2);
    background-color: transparent;
    color: var(--theme-color-2);
    border-radius: 30px;
    transition: ease-in 0.3s;
    width: fit-content;
    margin-top: 15px;
}

.event-join-btn:hover{
    transition: ease-in 0.3s;
    border: 1px solid var(--theme-color-3);
    background-color: var(--theme-color-3);
    color: var(--font-white);
}

.events-card-wrapper:hover .event-join-btn{
    transition: ease-in 0.3s;
    border: 1px solid var(--theme-color-3);
    background-color: var(--theme-color-3);
    color: var(--font-white);
}

.instructor-card{
    width: 100%;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    background: var(--font-white);
    box-shadow: 0px 10px 15px 1px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

.instructor-img{
    width: 100%;
    height: 250px;
    position: relative;
    display: inline-block;
}

.instructor-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.instructor-info{
    width: 100%;
    position: relative;
    display: inline-block;
    margin-top: 15px;
}

.instructor-info-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.instructor-info-list:last-child{
    margin-bottom: 0;
}

.instructor-info-list h3{
    font-size: 16px;
}

.instructor-info-list p i{
    color: var(--theme-color-2);
    margin-right: 10px;
}

.instructor-social{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255 41 87 / 64%);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: ease-in 0.3s;
}

.instructor-card:hover .instructor-social{
    opacity: 1;
    visibility: visible;
    transition: ease-in 0.3s;
}

.instructor-social-list{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.instructor-social-list li{
    margin: 0px 5px;
}

.instructor-social-list li a{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--font-white);
    border-radius: 50%;
    color: var(--theme-color-2);
}

.testimonial-card-wrapper{
    width: 100%;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 10px 15px 1px rgba(0, 0, 0, 0.15);
    padding: 25px;
    margin: 10px 0px;
}

.testimonial-quote-icon{
    width: 80px;
    height: 80px;
    background-color: var(--theme-color-3);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-bottom: 20px;
}

.testimonial-author-info{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tai-left-img{
    width: 60px;
    height: 60px;
    min-width: 60px;
    margin-right: 15px;
}

.tai-left{
    display: flex;
    align-items: center;
}

.tai-left-img img{
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    margin-right: 15px;
    border-radius: 50%;
    object-fit: cover;
}

.tai-left-info h3{
    font-size: 16px;
    margin-bottom: 5px;
}

.tai-right i{
    color: var(--theme-color-2);
}

.testi .slick-dots li button:before{
    font-size: 10px;
    color: var(--theme-color-2);
}

.testi .slick-dots li.slick-active button:before{
    font-size: 15px;
    color: var(--theme-color-2);
    opacity: 1;
}

.testi .slick-dots{
    width: auto;
    bottom: -40px;
}

.blog-card-wrapper{
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 10px 15px 1px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100%;
}

.blog-card-image{
    width: 100%;
    height: 230px;
    position: relative;
    display: inline-block;
}

.blog-card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.blog-card-content{
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 20px;
}

.blog-posted-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.blog-posted-info p i{
    margin-right: 10px;
    color: var(--theme-color-3);
}

.blog-post-head a h3{
    font-family: 'Poppins-SemiBold';
    font-size: 20px;
    transition: ease-in 0.3s
}

.blog-card-wrapper:hover .blog-post-head a h3{
    transition: ease-in 0.3s;
    color: var(--theme-color-3);
}

.blog-post-head{
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.blog-post-description{
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
}

.blog-post-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-post-author{
    display: flex;
    align-items: center;
}

.blog-post-author img{
    width: 30px;
    height: 30px;
    min-width: 30px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover
}

.blog-post-author h4{
    font-size: 14px;
}

.blog-read-more-btn{
    width: 30px;
    height: 30px;
    min-width: 30px;
    border-radius: 50%;
    font-size: 12px;
    background-color: transparent;
    color: var(--theme-color-2);
    border: 1px solid var(--theme-color-2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in 0.3s;
}

.blog-card-wrapper:hover .blog-read-more-btn{
    background-color: var(--theme-color-2);
    color: var(--font-white);
    border: 1px solid var(--theme-color-2);
}

.subscribe{
    width: 100%;
    position: relative;
    display: inline-block;
    background-image:
    linear-gradient(45deg,rgba(255,41,87, 0.9),rgba(255,41,87, 0.9)), url('../images/worldmap.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.subscribe-heading{
    text-align: center;
    margin-bottom: 2rem;
}

.subscribe-heading h3{
    color: var(--font-white);
    font-family: 'Poppins-Medium';
}

.subscribe-form-group{
    width: 100%;
    position: relative;
    display: inline-block;
}

.subscribe-form-label{
    width: 100%;
    position: relative;
    display: inline-block;
    color: var(--font-white);
    margin-bottom: 5px;
}

.subscribe-form-input{
    width: 100%;
    position: relative;
    display: inline-block;
    color: var(--font-white);
    border: 1px solid var(--font-white);
    padding: 10px 15px;
    border-radius: 30px;
    background-color: transparent;
}

.subscribe-form-input::placeholder{
    color: var(--font-white);
}

footer{
    background-color: var(--theme-color-1);
    width: 100%;
    position: relative;
    display: inline-block;
    padding-top: 4rem;
}

.footer-about{
    width: 100%;
    position: relative;
    display: inline-block;
}

.footer-brand-text{
    font-size: 20px;
    color: var(--theme-color-2);
    margin-bottom: 60px;
}

.footer-about-text{
    color: var(--font-white);
    margin-bottom: 3rem;
}

.footer-about ul li{
    display: inline-block;
    margin-right: 10px;
}

.footer-about ul li a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--font-white);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--theme-color-2)
}

.footer-links{
    width: 100%;
    position: relative;
    display: inline-block;
}

.footer-heading{
    font-size: 20px;
    font-family: 'Poppins-SemiBold';
    margin-bottom: 0px;
    color: var(--font-white);
}

.footer-heading-line{
    width: 62px;
    height: 1px;
    background-color: var(--theme-color-2);
    position: relative;
    display: inline-block;
}

.footer-links ul{
    margin-top: 30px;
}

.footer-links ul li{
    margin-bottom: 15px;
}

.footer-links ul li a{
    color: var(--font-white);
    display: flex;
}

.footer-links ul li a::before{
    content: '\f1d8';
    font-family: Fontawesome;
    display: inline-block;
    position: relative;
    margin-right: 15px;
    color: var(--theme-color-3);
    font-size: 10px;
}

.footer-contact ul li{
    margin-bottom: 15px;
}

.footer-contact ul li a{
    display: flex;
    align-items: baseline;
    color: var(--font-white);
}

.footer-contact ul li a i{
    color: var(--theme-color-3);
    margin-right: 15px;
}

.footer-contact ul {
    margin-top: 30px;
}

.footer-copyright-wrapper{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 1px solid rgb(255 255 255 / 14%);
    margin-top: 3rem;
}

.footer-copyright-wrapper p{
    color: var(--font-white);
}

.footer-copyright-wrapper ul li{
    display: inline-block;
    margin-left: 15px;
}

.footer-copyright-wrapper ul li a{
    color: var(--font-white);
}

.our-culture{
    width: 100%;
    position: relative;
    display: inline-block;
    background-color: var(--theme-color-4);
    overflow: hidden;
}

.our-culture-content-list{
    width: 100%;
    position: relative;
    display: inline-block;
}

.ocl-icon{
    width: 55px;
    min-width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 12px;
    background-color: var(--font-white);
    margin-bottom: 20px;
}

.our-culture-content-list h3{
    color: var(--font-white);
    font-size: 20px;
    margin-bottom: 20px;
}

.our-culture-content-list p{
    color: var(--font-white);
}

.our-culture-image{
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    z-index: 2;
}

.our-culture-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.overlay-circle{
    width: 400px;
    height: 400px;
    background-color: transparent;
    border: 6px solid var(--theme-color-3);
    position: absolute;
    right: -55px;
    bottom: -76px;
    opacity: 0.2;
    border-radius: 50%;
    z-index: 1;
}

.page-banner{
    width: 100%;
    height: 300px;
    position: relative;
    display: inline-block;
    /* background-image: url('../images/bage-banner-bg.jpg'); */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/bage-banner-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-banner-wrapper{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.page-banner-wrapper h1{
    font-size: 32px;
    font-family: 'Poppins-SemiBold';
    margin-bottom: 20px;
    color: var(--font-white);
}

.page-banner-wrapper p{
    color: var(--font-white);
}

.event-details-main-image{
    width: 100%;
    height: 350px;
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
}

.event-details-main-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-details-quote{
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 3rem;
    border: 1px solid #ddd;
    border-left: 4px solid var(--theme-color-3);
}

.event-details-quote p{
    font-size: 16px;
    font-family: 'Poppins-Medium';
}

.event-details-content h3{
    font-family: 'Poppins-SemiBold';
    margin: 25px 0px;
    font-size: 20px;
}

.event-details-content p{
    margin-bottom: 20px;
}

.event-details-content .list-order{
    list-style: disc;
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

.event-details-content .list-order li{
    margin-bottom: 10px;
}

.event-join-form{
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 30px;
    background-color: var(--theme-color-1);
    border-radius: 10px;
}

.event-join-form h3{
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 25px;
    color: var(--font-white);
    font-family: 'Poppins-SemiBold';
}

.event-join-form-group{
    position: relative;
    width: 100%;
    display: inline-block;
    margin-bottom: 25px;
}

.event-join-form-input{
    position: relative;
    width: 100%;
    background-color: transparent;
    padding: 10px 15px;
    border: 1px solid var(--font-white);
    border-radius: 6px;
    color: var(--font-white);
}

.event-join-form-input::placeholder{
    color: var(--font-white);
    /* opacity: 0.6; */
}

.event-join-form-group button{
    width: 100%;
    max-width: 100%;
}

.sidebar-caterories{
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 30px 0px;
}

.sidebar-heading{
    font-size: 20px;
    text-transform: capitalize;
    color: var(--heading-color);
    font-family: 'Poppins-Medium';
}

.sidebar-line{
    width: 65px;
    height: 1px;
    background-color: var(--theme-color-2);
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px;
}

.sidebar-caterories ul li{
    border-bottom: 1px solid #d2d2d5;
    padding: 12px 0px;
}

.sidebar-getin-touch{
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 10px 0px 30px 0px;
}

.sidebar-getin-touch ul li{
    margin-bottom: 15px;
}

.sidebar-getin-touch ul li b{
    width: 100%;
    display: inline-block;
    color: var(--heading-color);
}

.sidebar-getin-touch ul li a{
    color: var(--theme-color-3);
}

.contact-form-group{
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 25px;
}

.contact-form-input{
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.contact-side-info-wrapper{
    width: 100%;
    position: relative;
    display: flex;
    padding: 25px;
    border-radius: 6px;
    border: 1px solid #ddd;
    align-items: flex-start;
    margin-bottom: 20px;
}

.contact-side-info-icon{
    width: 50px;
    min-width: 50px;
    margin-right: 20px;
}

.contact-side-info-icon img{
    width: 100%;
}

.contact-side-info-content h3{
    font-size: 20px;
    font-family: 'Poppins-SemiBold';
    margin-bottom: 15px;
}

.contact-side-info-content p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.contact-side-info-content{
    width: 100%;
    position: relative;
    display: inline-block;
}

.contact-side-info-content p a{
    color: var(--theme-color-3);
}

.sidebar-search{
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.sidebar-search-input{
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    height: 52px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.sidebar-search-btn{
    background-color: transparent;
    border: none;
    color: var(--theme-color-2);
    position: absolute;  
    right: 10px;
    top: 13px;
}

.sidebar-recentpost{
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.sidebar-tags ul li{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.sidebar-tags ul li a{
    padding: 10px 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
    width: max-content;
    position: relative;
    display: inline-block;
}

.sidebar-recentpost ul li{
    margin-bottom: 15px;
}


.sidebar-recentpost-wrapper{
    display: flex;
    align-items: flex-start;
    width: 100%;
    position: relative;
}

.sr-img{
    width: 90px;
    height: 70px;
    min-width: 90px;
    position: relative;
    display: inline-block;
    margin-right: 15px;
}

.sr-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sr-info  a h3{
    font-size: 16px;
    margin-bottom: 5px;
    font-family: 'Poppins-Medium';
    height: 45px;
    overflow: hidden;
}

.sr-info p{
    font-size: 12px;
}

.blogdetail-top-left h3{
    font-size: 20px;
    margin: 0px 0px 10px 0px;
    font-family: 'Poppins-SemiBold';
}

.blogdetail-top-left ul li{
    display: inline-block;
    margin-right: 10px;
}

.blogdetail-top-left ul li:first-child{
    color: var(--theme-color-1);
}

.blogdetail-top-left h4{
    font-size: 14px;
}

.blogdetail-top-right h4{
    font-size: 14px;
    margin-top: 20px;
}

.blogdetail-top-right i{
    margin-right: 10px;
}

.blogdetail-top-right img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}


.blog-detail-innercontent h3{
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Poppins-SemiBold';
}

.blog-detail-innercontent blockquote{
    padding: 30px;
    width: 100%;
    text-align: center;
    position: relative;
    display: inline-block;
    background-color: var(--theme-color-3);
    border-radius: 10px;
    font-family: 'Poppins-Medium';
    color: var(--font-white);
}

.blogdetail-post-share{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ddd;
    margin-top: 2rem;
    padding-top: 1rem;
    border-bottom: 1px solid #ddd;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

.blogdetail-post-left ul li{
    display: inline-block;
    margin: 0px 5px;
}

.blogdetail-post-left ul li a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-color-4);
    color: var(--font-white);
}

.blogdetail-post-left{
    text-align: center;
    font-family: 'Poppins-SemiBold';
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.comments-heading{
    margin-bottom: 2rem !important;
}

.blogdetail-post-comment{
    display: flex;
    width: 100%;
    margin-bottom: 3rem;
}

.blogdetail-post-comment-avatar{
    width: 100px;
    height: 100px;
    min-width: 100px;
    margin-right: 15px;
}

.blogdetail-post-comment-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.blogdetail-post-comment-info h3{
    font-size: 16px;
    margin-bottom: 10px;
}

.posteddate-reply{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    font-size: 12px;
    margin-top: 0px;
}

.posteddate-reply a{
    font-family: 'Poppins-Medium';
    color: var(--theme-color-1);
}

.contact-form-wrapper {
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 25px;
}

.blogdetail-top-left{
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.blogdetail-top-post-date{
    width: 70px;
    min-width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--theme-color-2);
    margin-right: 15px;
    font-family: 'Poppins-Medium';
    color: var(--font-white);
}

.blog-detail-innercontent p{
    margin-bottom: 20px;
}

.blogdetail-post-left p{
    margin-bottom: 0;
}

.course-detail-left-wrapper{
    width: 100%;
    position: relative;
    display: inline-block;
}

.cdl-main-image{
    width: 100%;
    height: 400px;
    position: relative;
    display: inline-block;
}

.cdl-main-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.cdl-review-layer{
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.cdl-review-layer p{
    font-family: 'Poppins-Medium';
    color: var(--font-white);
}

.cdl-review-layer ul li{
    display: inline-block;
}

.cdl-review-layer ul li i{
    color: var(--bs-warning);
}

.cdl-author img{
    width: 90px;
    height: 90px;
    border-radius: 10px;
    border: 5px solid #fff;
    object-fit: cover;
}

.cdl-author{
    margin-top: -3rem;
    z-index: 10;
    position: relative;
    margin-left: 2rem;
}

.cdl-author p{
    margin-top: 10px;
}

.cdl-content h3{
    font-size: 24px;
    margin: 20px 0px;
    font-family: 'Poppins-SemiBold';
}

.cdl-content p{
    margin-bottom: 20px;
}

.ctc-heading{
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Poppins-Medium';
    padding-top: 2rem;
}

.ctc-accordion {
    background-color: #fff0f3;
    padding: 30px;
    border-radius: 10px;
    margin-top: 15px;
}

.ctc-accordion .accordion-item{
    background-color: #fff0f3;
    border: none;
}

.ctc-accordion .accordion-button{
    background-color: #fff0f3;
    box-shadow: none;
    font-family: 'Poppins-Medium';
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;
}

.ctc-accordion .accordion-body{
    padding-left: 0;
    padding-right: 0;
}

.ctc-accordion .accordion-button::after{
    background-size: 12px;
}

.course-more-wrapper{
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 0px 2rem;
}

.cm-price{
    font-family: 'Poppins-Medium';
    font-size: 38px;
    margin-bottom: 20px;
}

.cm-price sub{
    font-size: 18px;
    bottom: -0.05em;
}

.cm-lessons-info{
    display: flex;
    align-items: center;
    width: 100%;
}

.cm-lessons-info-list{
    padding: 7px 20px;
    border: 1px solid #ddd;
    width: 50%;
}

.cm-lessons-info-list:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.cm-lessons-info-list:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cm-lessons-info-list p{
    opacity: 0.8;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-size: 12px;
}

.cm-lessons-info-list h4{
    font-size: 14px;
}

.cm-lessons-moreinfo ul li{
    margin-bottom: 15px;
}

.cm-lessons-moreinfo-inner{
    display: flex;
    align-items: baseline;
}

.cm-lessons-moreinfo-inner i{
    margin-right: 15px;
}

.cm-lessons-moreinfo{
    width: 100%;
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

.cm-lessons-moreinfo p span{
    font-family: 'Poppins-SemiBold';
}

.cm-lessons-btns{
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.cm-lessons-otherinfo{
    width: 100%;
    position: relative;
    display: inline-block;
    margin-top: 30px;
}

.cm-lessons-otherinfo h4{
    opacity: 0.8;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-size: 12px;
    margin-bottom: 10px;
}

.cm-lessons-otherinfo p{
    margin-bottom: 15px;
}